.root {
    -fx-background-color: #050a12; /* Deep space blue */
}

.camera-view {
    -fx-border-color: #00f2ff;
    -fx-border-width: 4;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(gaussian, #00f2ff, 20, 0.5, 0, 0);
}

.status-text {
    -fx-font-family: "Segoe UI", "Arial";
    -fx-font-size: 24px;
    -fx-fill: #00f2ff;
    -fx-font-weight: bold;
}